.theme-toggle-auth {
    position: fixed;
    bottom: 16px;
    left: 16px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 8px;
    z-index: 1000; 
    background: rgba(0, 0, 0, 0.05); 
    padding: 6px 10px;
    border-radius: 20px;
}


.theme-toggle-auth .theme-icon {
    width: 24px;
    height: 24px;
}

/* igual que sidebar */
.switch {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 20px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--switch-Fondo);
    transition: .4s;
    border-radius: 34px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 14px;
    width: 14px;
    left: 3px;
    bottom: 3px;
    background-color: var(--switch-Bola);
    transition: .4s;
    border-radius: 50%;
}

input:checked + .slider {
    background-color: var(--switch-track-Checked);
}

input:checked + .slider:before {
    transform: translateX(20px);
}
