/* Modo claro */
:root {
    /* Nuevos */
    --blanco-TextoYSolido: #ffffff;
    --blanco-Fondo: rgb(239, 239, 239);;
    --blanco-mas-claro-Fondo: #ffffff;
    --blanco-Cuerpos: #ffffff;
    --blanco-Bordes: rgb(239, 239, 239);
    --blanco-Tooltip: #ffffff;
    --gris-azulado-oscuro-Tooltip: #333D42;
    --negro-azulado-Texto: #21272a;
    --verde-Primario: #047253;
    --verde-Hover: #036145;
    --verde-Acento: #3DB87A;
    --blanco-Hover: #dbe4e9;
    --blanco-mas-claro-Hover: #F6F8F9;
    --gris-azulado-oscuro-Texto: #333D42;
    --gris-azulado-medio-Texto: #5c6c74;
    /* Switch */
    --switch-Bola: #f1bf37;
    --switch-Fondo: #fae9b1;
    --switch-track-Checked: #084c6e;
    /* RGBA */
    --search-Sombra: 0 1px 4px 0 rgba(0,0,0,0.15), 0 4px 4px 0 rgba(0,0,0,0.15);
    --profile-menu-Sombra: 0 4px 8px rgba(0,0,0,0.10), 0 6px 12px rgba(0,0,0,0.25);
    --filter-menu-Sombra: 0 4px 8px rgba(0,0,0,0.10), 0 6px 12px rgba(0,0,0,0.25);
    --overlay-Fondo: rgba(0, 0, 0, 0.16);
    --transparentillo-blanco-Texto: rgba(255, 255, 255, 0.99);
    --search-Divisor: rgba(0, 0, 0, 0.1);
    --overlay-sidebar-Fondo: rgba(0, 0, 0, 0.4);

     --hover-faq: #5bce95;
     --borde-create-post: #9dadb5;
}

/* Modo oscuro */
body.dark-mode {

    --blanco-TextoYSolido: #ffffff;
    --blanco-Fondo: #121212;
    --blanco-mas-claro-Fondo: #2c2c2c;
    --blanco-Cuerpos: #242424;
    --blanco-Bordes: #3a3a3a;
    --blanco-Tooltip: #ffffff;
    --gris-azulado-oscuro-Tooltip: #424242;
    --negro-azulado-Texto: #f1f1f1;
    --verde-Primario: #242424; 
    --verde-Hover: #383838;
    --verde-Acento: #3DB87A;
    --blanco-Hover: #323232;
    --blanco-mas-claro-Hover: #2f2f2f;
    --gris-azulado-oscuro-Texto: #e7eceb;
    --gris-azulado-medio-Texto: #cecece;
    /* Switch */
    --switch-Bola: #ffffff;
    --switch-Fondo: #084c6e;
    --switch-track-Checked: #084c6e;
    /* RGBA */
    --search-Sombra: 0 1px 4px 0 rgba(0,0,0,0.15), 0 4px 4px 0 rgba(0,0,0,0.15);
    --profile-menu-Sombra: 0 4px 8px rgba(0,0,0,0.10), 0 6px 12px rgba(0,0,0,0.25);
    --filter-menu-Sombra: 0 4px 8px rgba(0,0,0,0.10), 0 6px 12px rgba(0,0,0,0.25);
    --overlay-Fondo: rgba(0, 0, 0, 0.16);
    --transparentillo-blanco-Texto: rgba(255, 255, 255, 0.99);
    --search-Divisor: rgba(225, 225, 225, 0.3);
    --overlay-sidebar-Fondo: rgba(0, 0, 0, 0.4);

    --hover-faq: #012e22;
    --borde-create-post: #3a3a3a;
}

body.dark-mode.color-blind-protanopia {
  --verde-Primario: #2C3E55;
  --verde-Acento: #1F3048;

  --negro-azulado-Texto: #FFFFFF;
  --gris-azulado-oscuro-Texto: #E0E0E0;

  --blanco-mas-claro-Fondo: #1B1B1B;
  --blanco-mas-claro-Hover: #2A2A2A;

  --verde-Hover: #3A5174;
}


body.dark-mode.color-blind-deuteranopia {
  --verde-Primario: #31445D;
  --verde-Acento: #26364F;

  --negro-azulado-Texto: #FFFFFF;
  --gris-azulado-oscuro-Texto: #DDDDDD;

  --blanco-mas-claro-Fondo: #1A1A1A;
  --blanco-mas-claro-Hover: #2A2A2A;

  --verde-Hover: #3E5B7A;
}

body.dark-mode.color-blind-tritanopia {
  --verde-Primario: #534E2A;
  --verde-Acento: #403B20;

  --negro-azulado-Texto: #FFFFFF;
  --gris-azulado-oscuro-Texto: #E8E8E8;

  --blanco-mas-claro-Fondo: #202020;
  --blanco-mas-claro-Hover: #2E2E2E;

  --verde-Hover: #6C6434;
}
