<li class="header-action">
    <input type="checkbox" class="filter-menu-visibility" id="filter-menu-visibility-checkbox"/> 
    <button class="filter-menu-button">
        <label for="filter-menu-visibility-checkbox"
            class="header-action-filter-label">
            <img src="Images/Icons/filter.svg" class="icon" alt="Filtro">
        </label>
        <div class="header-action-tooltip">
            Filtrar
        </div>
    </button>
    <ul class="filter-menu">
        <li class="filter-menu-item">
            <div class="filter-menu-item-left">
                <input type="checkbox" class="filter-collapse-checkbox" id="filter-collapse-checkbox-mundial"/>
                    <label class="filter-collapse-label" for="filter-collapse-checkbox-mundial">
                        Mundial
                        <img src="Images/Icons/next.svg" class="" alt="Desplegar"></img>
                    </label>
            </div>
        </li>
        <li class="filter-menu-item">
            <div class="filter-menu-item-left">
                <input type="checkbox" class="filter-collapse-checkbox" id="filter-collapse-checkbox-ordenar"/>
                    <label class="filter-collapse-label" for="filter-collapse-checkbox-ordenar">
                        Ordenar por
                        <img src="Images/Icons/next.svg" class="" alt="Desplegar"></img>
                    </label>
            </div>
        </li>
    </ul>
</li>